html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    color: #222;
}


/* =========================
   Navbar
========================= */

nav {
    width: 100%;
    background-color: darkblue;
    text-align: center;
    padding: 15px 0;
}

    nav a,
    nav span {
        color: white;
        text-decoration: none;
        margin: 0 15px;
    }

    nav span {
        text-align: start;
        font-weight: bold;
    }


        nav a:hover {
            text-decoration: underline;
        }
        /* =========================
   Main View
========================= */

        .hero {
            text-align: center;
            padding: 60px 20px;
            margin: 30px;
            background-color: white;
            border: 1px solid #ddd;
        }

            .hero h1 {
                font-size: 40px;
                color: darkblue;
                margin-bottom: 20px;
            }

            .hero p {
                font-size: 18px;
                color: #666;
                margin-bottom: 25px;
            }

            .hero input {
                padding: 10px;
                margin: 5px;
            }

                .hero input[type="text"] {
                    width: 40%;
                    border: 1px solid #ccc;
                }

                .hero input[type="submit"] {
                    background-color: darkblue;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                }

            .hero a {
                display: inline-block;
                background-color: darkblue;
                color: white;
                text-decoration: none;
                padding: 10px 15px;
                margin: 10px 5px;
            }

                .hero a:hover {
                    background-color: #162b45;
                }

        .items-container {
            text-align: center;
        }
        /* =========================
   Item Cards
========================= */

        .item-card {
            border: 1px solid #ddd;
            background-color: white;
            display: inline-block;
            width: 250px;
            padding: 20px;
            margin: 10px;
            text-align: left;
            vertical-align: top;
        }

            .item-card h3 {
                font-size: 22px;
                color: darkblue;
            }

            .item-card p {
                color: #555;
            }

            .item-card a {
                color: darkblue;
                text-decoration: none;
                margin-right: 10px;
            }

                .item-card a:hover {
                    text-decoration: underline;
                }
        /* =========================
   Founds
========================= */

        .lost-items-page {
            text-align: center;
            padding: 30px;
        }

        .lost-items-header {
            margin-bottom: 30px;
        }

            .lost-items-header h1 {
                font-size: 35px;
                color: darkblue;
            }

            .lost-items-header p {
                font-size: 18px;
                color: #666;
            }

        .items-grid {
            text-align: center;
        }

        .item-card-content h3 {
            font-size: 22px;
        }

        .item-description {
            font-size: 16px;
        }

        .item-location {
            margin-top: 10px;
        }

        .status {
            display: block;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .available {
            color: green;
        }

        .unavailable {
            color: red;
        }
        /* =========================
   Add Item
========================= */

        .add-page {
            text-align: center;
            padding: 30px;
        }

            .add-page h2 {
                font-size: 30px;
                color: darkblue;
                margin-bottom: 25px;
            }

        .add-form {
            display: inline-block;
            text-align: left;
            background-color: white;
            border: 1px solid #ddd;
            padding: 25px;
        }

            .add-form input {
                padding: 8px;
                margin-left: 10px;
            }

            .add-form span {
                color: red;
                margin-left: 10px;
            }

            .add-form input[type="submit"] {
                margin-top: 10px;
                padding: 8px 15px;
                background-color: darkblue;
                color: white;
                border: none;
            }
        /* =========================
   Login  
========================= */

        .login-page {
            text-align: center;
            padding: 30px;
        }

            .login-page h2 {
                font-size: 30px;
                color: darkblue;
                margin-bottom: 25px;
            }

        .login-form {
            display: inline-block;
            text-align: left;
            background-color: white;
            border: 1px solid #ddd;
            padding: 25px;
        }

            .login-form input {
                padding: 8px;
                margin-left: 10px;
            }

            .login-form span {
                color: red;
                margin-left: 10px;
            }

            .login-form input[type="submit"] {
                margin-top: 10px;
                padding: 8px 15px;
                background-color: darkblue;
                color: white;
                border: none;
            }

        .login-register {
            margin-top: 20px;
        }
        /* =========================
   Register
========================= */

        .register-page {
            text-align: center;
            padding: 30px;
        }

            .register-page h2 {
                font-size: 30px;
                color: darkblue;
                margin-bottom: 25px;
            }

        .register-form {
            display: inline-block;
            text-align: left;
            background-color: white;
            border: 1px solid #ddd;
            padding: 25px;
        }

            .register-form input {
                padding: 8px;
                margin-left: 10px;
            }

            .register-form span {
                color: red;
                margin-left: 10px;
            }

            .register-form input[type="submit"] {
                margin-top: 10px;
                padding: 8px 15px;
                background-color: darkblue;
                color: white;
                border: none;
            }
        /* =========================
   Edit Item
========================= */

        .edit-page {
            text-align: center;
            padding: 30px;
        }

            .edit-page h2 {
                font-size: 30px;
                color: darkblue;
                margin-bottom: 25px;
            }

        .edit-form {
            display: inline-block;
            text-align: left;
            background-color: white;
            border: 1px solid #ddd;
            padding: 25px;
        }

            .edit-form input {
                padding: 8px;
                margin-left: 10px;
            }

                .edit-form input[type="submit"] {
                    margin-top: 10px;
                    padding: 8px 15px;
                    background-color: darkblue;
                    color: white;
                    border: none;
                }
        /* =========================
   Profile
========================= */

        .profile-page {
            text-align: center;
            padding: 30px;
        }

            .profile-page h2 {
                font-size: 30px;
                color: darkblue;
                margin-bottom: 25px;
            }

        .profile-info {
            border: 1px solid #ddd;
            background-color: white;
            display: inline-block;
            padding: 25px;
            text-align: left;
        }

            .profile-info p {
                margin: 10px;
            }

        .profile-links {
            margin-top: 20px;
        }

            .profile-links a {
                color: darkblue;
                text-decoration: none;
                margin: 10px;
            }

                .profile-links a:hover {
                    text-decoration: underline;
                }
        /* =========================
   Edit Register
========================= */

        .edit-account-page {
            text-align: center;
            padding: 30px;
        }

            .edit-account-page h2 {
                font-size: 30px;
                color: darkblue;
                margin-bottom: 25px;
            }

        .edit-account-form {
            display: inline-block;
            text-align: left;
            background-color: white;
            border: 1px solid #ddd;
            padding: 25px;
        }

            .edit-account-form input {
                padding: 8px;
                margin-left: 10px;
            }

            .edit-account-form span {
                color: red;
                margin-left: 10px;
            }

            .edit-account-form input[type="submit"] {
                margin-top: 10px;
                padding: 8px 15px;
                background-color: darkblue;
                color: white;
                border: none;
            }
        /* =========================
   Error Message
========================= */

        #error-message-add {
            background-color: #fff3cd;
            color: #856404;
            border: 1px solid #ffe69c;
            margin: 20px;
            padding: 10px;
        }
